@model ProjetoVacina.Models.Cadastro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CadastroCpf" class="control-label"></label>
                <input asp-for="CadastroCpf" class="form-control" />
                <span asp-validation-for="CadastroCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroEmail" class="control-label"></label>
                <input asp-for="CadastroEmail" class="form-control" />
                <span asp-validation-for="CadastroEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroSenha" class="control-label"></label>
                <input asp-for="CadastroSenha" class="form-control" />
                <span asp-validation-for="CadastroSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroGenero" class="control-label"></label>
                <input asp-for="CadastroGenero" class="form-control" />
                <span asp-validation-for="CadastroGenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroDiaNascimento" class="control-label"></label>
                <input asp-for="CadastroDiaNascimento" class="form-control" />
                <span asp-validation-for="CadastroDiaNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroMesNascimento" class="control-label"></label>
                <input asp-for="CadastroMesNascimento" class="form-control" />
                <span asp-validation-for="CadastroMesNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroAnoNascimento" class="control-label"></label>
                <input asp-for="CadastroAnoNascimento" class="form-control" />
                <span asp-validation-for="CadastroAnoNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrequenciaVacinaId" class="control-label"></label>
                <select asp-for="FrequenciaVacinaId" class ="form-control" asp-items="ViewBag.FrequenciaVacinaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
